#compInicio{
  font-size: var(--bs-nav-link-font-size);
}

header{
    background-color: #48cae4;
    color:#03045e;
    text-decoration: none;
    width: 98.5%;
    height: 120px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}
#titulo{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: flex-start;
}
#logo{
    display: flex;
    align-items: flex-end;
}
#contenedorppal{
    display: flex;
    margin-bottom: 10px;
}

#asidetwitter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  background: #023e8a;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;

}

#contenedorcontenido{
  align-items: flex-start;
  color:#03045e ;
  margin-left: 2%;
  width:70%;
  height:auto;
  background-color: #ffb703;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;

}


footer{
  background: #023e8a;
  color:white;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border-top: 5px;
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; }

#recursoMmedia{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:100%; 
}
#video1{
  width: 85%;
  height:85%; 
}

#autor{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#fotoAutor{
  width:20%;
  border-radius: 10px;
}

#etiquetas1,#etiquetas3,#etiquetas5,#Atributo3,#Atributo4,#Atributo2 {
  margin: 1%;
  border-radius: 3px;
  align-self: center;
}


@media only screen and (min-width: 320px) and (max-width: 1279px) {
  #timeline, #twitter-widget-0 {
    width: 100% !important;
    height: 700px !important;
    align-self: center;
  }

  #etiquetas1{
    height:9.1%;
    width: 90%;
  }
  
  #etiquetas3{
    height:9%;
    width: 60%;
  }
  
  #etiquetas5{
    height:10%;
    width: 80%;
  }
  
  #Atributo3{
    height: 7%;
  }
  
  #Atributo4{
    height: 5.7%;
  }
  
  #Atributo2{
    height: 10%;
  }  
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  #timeline, #twitter-widget-0 {
    width: 98% !important;
    height: 700px !important;
    align-self: center;
  }

  #etiquetas1{
    height:12%;
  }
  
  #etiquetas3{
    height:16%;
  }
  
  #etiquetas5{
    height:18%;
  }
  
  #Atributo3{
    height: 12%;
  }
  
  #Atributo4{
    height: 10%;
  }
  
  #Atributo2{
    height: 17%;
  }  
}